In [44]:
import pandas as pd
pids_path = "/home/indix/search/scarlet/src/test/resources/small_in_curated_pids.csv"

data = pd.read_csv(pids_path,usecols=[0,1], names=['query','pids'],sep="\t")
data

              query                                               pids
0            05 nby  72d1f6f7027ef5275ad347e2dc91cc81,493e3a71a3220...
1    1 15 amiraj in                   f5891c3dca6424a6a10dc83e5d1f8519
2  1 2 hp in laptop  3920b76547639d0aa7ea2820fed469ad,866a8c9ba73ea...

In [45]:
data['pids']

0    72d1f6f7027ef5275ad347e2dc91cc81,493e3a71a3220...
1                     f5891c3dca6424a6a10dc83e5d1f8519
2    3920b76547639d0aa7ea2820fed469ad,866a8c9ba73ea...
Name: pids, dtype: object

In [48]:
data['list_pids'] = map(lambda pids : pids.split(','),data['pids'])
data

,query,pids,list_pids
0,05 nby,"72d1f6f7027ef5275ad347e2dc91cc81,493e3a71a3220...","[72d1f6f7027ef5275ad347e2dc91cc81, 493e3a71a32..."
1,1 15 amiraj in,f5891c3dca6424a6a10dc83e5d1f8519,[f5891c3dca6424a6a10dc83e5d1f8519]
2,1 2 hp in laptop,"3920b76547639d0aa7ea2820fed469ad,866a8c9ba73ea...","[3920b76547639d0aa7ea2820fed469ad, 866a8c9ba73..."

In [54]:
q1 = data['query'][0]
print q1
pids = data['list_pids'][0]
len(pids)
pd.DataFrame(map(lambda pid : (pid,q1), pids))

05 nby

                                  0       1
0  72d1f6f7027ef5275ad347e2dc91cc81  05 nby
1  493e3a71a32206bd1de849ee75924701  05 nby
2  2f36295c56384155e8bd1e3632a0c450  05 nby
3  a84b558f564ea71acc587840b16abcc8  05 nby
4  189b9d743186c1fc2d8cb1fba247e41f  05 nby
5  507c1d570743589cb7e7210939871b37  05 nby
6  424382d0001e2bfab06382e9f2a88914  05 nby
7  a6a5b5f989b0901c3695e405c0fd564a  05 nby
8  ff7023242eaf49fa5f6c1ca973f0bdb5  05 nby

In [63]:
t = []
for i in data.index:
    q = data['query'][i]
    pids = data['list_pids'][i]
    t1 = map(lambda pid : (pid,q), pids)
    
    print t
    t.extend(t1)
new_df = pd.DataFrame(t)

[]
[('72d1f6f7027ef5275ad347e2dc91cc81', '05 nby'), ('493e3a71a32206bd1de849ee75924701', '05 nby'), ('2f36295c56384155e8bd1e3632a0c450', '05 nby'), ('a84b558f564ea71acc587840b16abcc8', '05 nby'), ('189b9d743186c1fc2d8cb1fba247e41f', '05 nby'), ('507c1d570743589cb7e7210939871b37', '05 nby'), ('424382d0001e2bfab06382e9f2a88914', '05 nby'), ('a6a5b5f989b0901c3695e405c0fd564a', '05 nby'), ('ff7023242eaf49fa5f6c1ca973f0bdb5', '05 nby')]
[('72d1f6f7027ef5275ad347e2dc91cc81', '05 nby'), ('493e3a71a32206bd1de849ee75924701', '05 nby'), ('2f36295c56384155e8bd1e3632a0c450', '05 nby'), ('a84b558f564ea71acc587840b16abcc8', '05 nby'), ('189b9d743186c1fc2d8cb1fba247e41f', '05 nby'), ('507c1d570743589cb7e7210939871b37', '05 nby'), ('424382d0001e2bfab06382e9f2a88914', '05 nby'), ('a6a5b5f989b0901c3695e405c0fd564a', '05 nby'), ('ff7023242eaf49fa5f6c1ca973f0bdb5', '05 nby'), ('f5891c3dca6424a6a10dc83e5d1f8519', '1 15 amiraj in')]

In [66]:
new_df = new_df.rename(columns={0: "pid", 1: "query"})
new_df

                                  pid             query
0    72d1f6f7027ef5275ad347e2dc91cc81            05 nby
1    493e3a71a32206bd1de849ee75924701            05 nby
2    2f36295c56384155e8bd1e3632a0c450            05 nby
3    a84b558f564ea71acc587840b16abcc8            05 nby
4    189b9d743186c1fc2d8cb1fba247e41f            05 nby
5    507c1d570743589cb7e7210939871b37            05 nby
6    424382d0001e2bfab06382e9f2a88914            05 nby
7    a6a5b5f989b0901c3695e405c0fd564a            05 nby
8    ff7023242eaf49fa5f6c1ca973f0bdb5            05 nby
9    f5891c3dca6424a6a10dc83e5d1f8519    1 15 amiraj in
10   3920b76547639d0aa7ea2820fed469ad  1 2 hp in laptop
11   866a8c9ba73eade0e5be29191dc2f6b3  1 2 hp in laptop
12   06f0bd6d0a7a4776799c1e433e01ed12  1 2 hp in laptop
13   2ae018fe5acb8fd7f6224371cd8b61d9  1 2 hp in laptop
14   ad536ddcf167a04eded7f29ea58e9188  1 2 hp in laptop
15   7f2583e1477afa6ce553e480c081d357  1 2 hp in laptop
16   4c28ae84f17f8ae60bf4d15339c47c3e  1 2 hp in laptop
17   51bc6e08a867ff7a8b1f08ecc4e140d3  1 2 hp in laptop
18   731e5d90857f91f0092c03fbe8bbc692  1 2 hp in laptop
19   1c2dc46b930e0cc002523eb764e47998  1 2 hp in laptop
20   7f41abaed4a5f4442c20162a0f613a66  1 2 hp in laptop
21   a6f3cea8782a15b99c053af38b63bad2  1 2 hp in laptop
22   7ac97daf6fe7f2d35e107bb691525382  1 2 hp in laptop
23   b6797e5430c334d76b3bd5513b320760  1 2 hp in laptop
24   a7a580d1059ffc1c096bf6918ffe8056  1 2 hp in laptop
25   f718c50d92389a65ce6034107c34e9df  1 2 hp in laptop
26   5a5ad0374ab2c3ed2a4dac8e568b02c7  1 2 hp in laptop
27   d345cb04b6b38b806c8a3d681d852851  1 2 hp in laptop
28   831dc6a574a34c75c4b63f5a8fa5d4be  1 2 hp in laptop
29   afbea9377f1576a223abc821be13da73  1 2 hp in laptop
..                                ...               ...
125  1336538b6bb89c5b7312743f2cfc7aac  1 2 hp in laptop
126  34d6450c071f9a1feb36c5521c7afb1e  1 2 hp in laptop
127  fbfc0995d82b25d96645082f52e2e571  1 2 hp in laptop
128  817eed7a352d9866fc71db5feabbe06c  1 2 hp in laptop
129  2183e7d136a8028430eb822703bffd9a  1 2 hp in laptop
130  ff09f744a5ae458fea78c1a02d7d9b79  1 2 hp in laptop
131  d15630f5b0fdafbe9fed3ea43dcecd98  1 2 hp in laptop
132  4f38be3a97e564dacf8b55eab7b18e65  1 2 hp in laptop
133  55d198ef51f36a043dc5225b47c6f883  1 2 hp in laptop
134  6528ecb94d599921124d502843ed5466  1 2 hp in laptop
135  7b8b312e65900ec9f8ded717f5615b83  1 2 hp in laptop
136  d0cbf234fe8f52c82b2563e5d605b4aa  1 2 hp in laptop
137  e70c7047a0a78686ad87c21951346cf4  1 2 hp in laptop
138  fa1d3725c60ddffd5da2f7b2dadc5bb4  1 2 hp in laptop
139  ff55afc6a1e520d5e405f409ade381fa  1 2 hp in laptop
140  b8255cd1c62ee383b4e826cab217db25  1 2 hp in laptop
141  4906e9bbb72a7eac25b438f548f3b873  1 2 hp in laptop
142  7226ff8d90fdbc5505a42e9251dd5d4e  1 2 hp in laptop
143  1f2fc4ac6199ace4048f8bd9441952f2  1 2 hp in laptop
144  f6b29d776594d9792057c73115eff08a  1 2 hp in laptop
145  d79bd73e0c1c33bf4fce74b329a925da  1 2 hp in laptop
146  db78f8cc029ad8e8c71f39245be56567  1 2 hp in laptop
147  c56b88246fe6d4cb2c0d0beb033c6934  1 2 hp in laptop
148  fa16e396e55115ec84058a0ed88de909  1 2 hp in laptop
149  4b94a32b93abbd52db73e973e92418ef  1 2 hp in laptop
150  1bfd08795f4be424f102bfb6f7ede21f  1 2 hp in laptop
151  a245fe03fd24510990e8eb5887fcee8f  1 2 hp in laptop
152  60eaf7fe44434436d7ea8d66786c004f  1 2 hp in laptop
153  e31516d03797d89d192799545c73e2bc  1 2 hp in laptop
154  82a03b373b563b4059c747916bec3012  1 2 hp in laptop

[155 rows x 2 columns]

In [1]:
import time
import pandas as pd
start = time.time()
pids_path = "/home/indix/search/scarlet/src/test/resources/in_curated_pids"
curated_in_data = pd.read_csv(pids_path,usecols=[0,1], names=['query','pids'],sep="\t")
curated_in_data['list_pids'] = map(lambda pids : pids.split(','),curated_in_data['pids'])
len(curated_in_data)

213055

In [2]:
curated_in_data[:10]

,query,pids,list_pids
0,05 nby,"72d1f6f7027ef5275ad347e2dc91cc81,493e3a71a3220...","[72d1f6f7027ef5275ad347e2dc91cc81, 493e3a71a32..."
1,1 15 amiraj in,f5891c3dca6424a6a10dc83e5d1f8519,[f5891c3dca6424a6a10dc83e5d1f8519]
2,1 2 hp in laptop,"3920b76547639d0aa7ea2820fed469ad,866a8c9ba73ea...","[3920b76547639d0aa7ea2820fed469ad, 866a8c9ba73..."
3,1 24 car cast die,"d5a933f05bd6c4a0a3cd8a83757c5c62,e8b43617c577f...","[d5a933f05bd6c4a0a3cd8a83757c5c62, e8b43617c57..."
4,1 32 bburago,"b1d936967343c11d6b9cb32c433600bd,b2ac78825bd3d...","[b1d936967343c11d6b9cb32c433600bd, b2ac78825bd..."
5,1 book frm part,"0fb8be0bec0798fc2d137660649099c1,3161cbfd5e6c8...","[0fb8be0bec0798fc2d137660649099c1, 3161cbfd5e6..."
6,1 book lost paradis,"d232f04b6ef45944bf59cfea4aee2cfc,948109e10f876...","[d232f04b6ef45944bf59cfea4aee2cfc, 948109e10f8..."
7,1 disk extern hard passport tb wd,"43ad0c1d97610cf0adddb1778c6c2889,4fd79eb0a6af2...","[43ad0c1d97610cf0adddb1778c6c2889, 4fd79eb0a6a..."
8,1 disk extern hard seagat tb,"d95fa8b19690e801591b7f5ab38779fd,b5070d22bf646...","[d95fa8b19690e801591b7f5ab38779fd, b5070d22bf6..."
9,1.2 155cy 5 ac split star ton volta,3a499d5faccac7f5607964ea22d3d4f5,[3a499d5faccac7f5607964ea22d3d4f5]

In [3]:
t = []
start = time.time()
data = curated_in_data
for i in data.index:
    q = data['query'][i]
    pids = data['list_pids'][i]
    t1 = map(lambda pid : (pid,q), pids)
    
#     print t
    t.extend(t1)
new_df = pd.DataFrame(t)
stop = time.time()
print "time taken:\t", stop-start

time taken:	11.6864581108

In [17]:
new_df = new_df.rename(columns={1 : "query", 0 : 'pid'})
new_df[:20]

                                 pid             query
0   72d1f6f7027ef5275ad347e2dc91cc81            05 nby
1   493e3a71a32206bd1de849ee75924701            05 nby
2   2f36295c56384155e8bd1e3632a0c450            05 nby
3   a84b558f564ea71acc587840b16abcc8            05 nby
4   189b9d743186c1fc2d8cb1fba247e41f            05 nby
5   507c1d570743589cb7e7210939871b37            05 nby
6   424382d0001e2bfab06382e9f2a88914            05 nby
7   a6a5b5f989b0901c3695e405c0fd564a            05 nby
8   ff7023242eaf49fa5f6c1ca973f0bdb5            05 nby
9   f5891c3dca6424a6a10dc83e5d1f8519    1 15 amiraj in
10  3920b76547639d0aa7ea2820fed469ad  1 2 hp in laptop
11  866a8c9ba73eade0e5be29191dc2f6b3  1 2 hp in laptop
12  06f0bd6d0a7a4776799c1e433e01ed12  1 2 hp in laptop
13  2ae018fe5acb8fd7f6224371cd8b61d9  1 2 hp in laptop
14  ad536ddcf167a04eded7f29ea58e9188  1 2 hp in laptop
15  7f2583e1477afa6ce553e480c081d357  1 2 hp in laptop
16  4c28ae84f17f8ae60bf4d15339c47c3e  1 2 hp in laptop
17  51bc6e08a867ff7a8b1f08ecc4e140d3  1 2 hp in laptop
18  731e5d90857f91f0092c03fbe8bbc692  1 2 hp in laptop
19  1c2dc46b930e0cc002523eb764e47998  1 2 hp in laptop

In [18]:
tmp_df = new_df[:20]
# tmp_df.to_json(orient='table')
# tmp_df.to_json()

In [9]:
tmp_df.to_json(path_or_buf='./small_curated_pids.json',orient='table')

In [19]:
tmp_df.to_csv(path_or_buf='./small_curated_pids.csv', sep='\t')

In [4]:
new_df.to_csv(path_or_buf='/home/indix/search/test_in_curated_pids.csv', sep='\t')

In [5]:
print len(new_df)

13771782